.DS_Store
*.mp4
*.txt
*.wav
assets/background.psd
assets/img/background_test.png
assets/img/banner.jpg
assets/img/blue-gry-background.png
assets/img/blue-gry-background.psd
assets/img/blue-pink-halftone-background_53876-99004.avif
assets/img/blue-pink-halftone-background_53876-99004.png
assets/img/blue-pink-halftone-background_53876-99004.xmp
assets/img/为什么选择做这份课程呢？.png
assets/img/为什么选择成为辅导员.png
assets/img/为什么选择成为辅导员？.png
assets/img/为什么选择辅导员这个职业？.png
assets/img/为什么选择辅导员这份职业？.png
assets/img/作为辅导员如何面对工作中的困难？.png
assets/img/作为辅导员的心得体会是什么？.png
assets/img/你如何保持工作中的积极心态？.png
assets/img/你如何提升工作效率和执行力？.png
assets/img/你对未来的工作有何期待？.png
assets/img/在深大读书和工作的经历.png
assets/img/坚持和支持学生.png
assets/img/如何为学生提供更好的辅导服务？.png
assets/img/如何保持团队的凝聚力？.png
assets/img/如何保持对学生工作的热情和耐心？.png
assets/img/如何保持辅导员工作的热情？.png
assets/img/如何对待工作中的困难和挑战？.png
assets/img/如何应对工作中的压力？.png
assets/img/如何看待未来的工作展望？.png
assets/img/如果有一个超能力你希望是什么？.png
assets/img/对于未来的工作展望是什么？.png
assets/img/对待学生情绪和心态.png
assets/img/对未来工作的期待和展望？.png
assets/img/希望具备什么能力？.png
assets/img/希望工作与学生交流.png
assets/img/怎样保持人际关系的和谐？.png
assets/img/未来工作展望如何？.png
assets/img/测试.png
assets/img/班级团队情况如何？.png
assets/wujun.png
assets/wujunshipin.mov
TalkAutomation/engine/.database/api_db.json
TalkAutomation/engine/.database/asset_db.json
TalkAutomation/engine/.database/content_db.json
